<% layout('base') -%>
<div class="panel">
    <h2>Products<h2>
    <a class="btn btn-primary" href="/product-add">Add</a><br><br>
    
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</td>
                <th>Price</td>
                <th>Date</td>
                <th class="text-center">Action</td>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(function(details) { %>
            <tr>
                <td><%= details.name %></td>
                <td><%= parseFloat(details.price).toLocaleString("pt-br", {style:"currency", currency:"BRL"}) %></td>
                <td><%= new Date(details.createdAt).toLocaleDateString("pt-br", {timeZone: "UTC"}) %></td>
                <td class="text-center">
                    <a class="btn btn-primary" href="/product-edit/<%= details._id %>">Edit</a>
                    <a class="btn btn-danger" href="/product-delete/<%= details._id %>">Delete</a>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
