<% layout('base') -%>
<div class="panel">
	<h2>Edit User</h2>
	<% if(message.error) { %>
		<div class="alert alert-danger"><%= message.error %></div>
	<% } %>
	<div class="panel panel-default">
        <div class="form-panel">
			<form action="/user-edit/<%= data._id %>" method="POST">
				<div class="form-group">
					<input type="text" class="form-control" value="<%= data.name %>" placeholder="Name" name="name" required="true" autofocus>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="<%= data.email %>" placeholder="E-mail" name="email" required="true" autofocus>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="<%= data.username %>" placeholder="Username" name="username" required="true" autofocus>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="<%= data.password %>" placeholder="Password" name="password" required="true" autofocus>
				</div>
				<div class="form-group">
                    <select class="form-control" name="role">
						<option value="" disabled="true">Role</option>
						<% data.schema.path('role').enumValues.forEach(function(role) { %>
							<option class="capitalize" value="<%=role%>" <%=(role == data.role) ? 'selected' : ''%>><%=role%></option>
                        <% }) %>
					</select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="status">
						<option value="" disabled="true">Status</option>
						<% data.schema.path('status').enumValues.forEach(function(status) { %>
							<option class="capitalize" value="<%=status%>" <%=(status == data.status) ? 'selected' : ''%>><%=status%></option>
                        <% }) %>
					</select>
                </div>
				<a href="/users" class="btn btn-default"><i class="fa fa-arrow-left"></i> Back</a>
				<button type="submit" class="btn btn-primary"><i class="fa fa-hdd-o"></i> Save</button><br>
			</form>
		</div>
	</div>
</div>